@import "../public/css/mixins.scss";
@import "../public/css/screens.scss";

.container {
  padding: 0 2rem;
  background: black;
  color: #fff;
  @include screen("inbetween"){
    padding: 0rem;
  }
}




.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;


  // bottom
  .bottom{
    display: flex;
    gap: 1rem;
    width: 70%;
    @include screen("inbetween"){
      @include flex(column, null, center);
    }
  }
}



.card{
  border: 1px solid #dfdfdf;
  flex: 1;
  border-radius: 8px;
  text-align: center;
  @include screen("inbetween"){
    width: 100%;
  }
}
